ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position:relative;
    overflow: hidden;
    background-color: rgba(11, 10, 10, 0.552);
  }
  
  li {
    float:inline-start;
  }
  
  li a {
    font-family:serif;
    font-size: 30px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgba(17, 17, 17, 0.492);
  }